x-airflow-common-depends-on: &airflow-common-depends-on
  postgres:
    condition: service_healthy
  redis:
    condition: service_healthy

x-airflow-common:
  &airflow-common
  build: .
  image: airflow-spark:2.10
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: CeleryExecutor
    AIRFLOW__CORE__AUTH_MANAGER: airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://airflow:airflow@postgres/airflow
    AIRFLOW__CELERY__BROKER_URL: redis://:@redis:6379/0
    AIRFLOW__CELERY__WORKER_LOG_SERVER_PORT: 8793
    AIRFLOW__CELERY__WORKER_LOG_SERVER_HOST: airflow-worker
    AIRFLOW__LOGGING__REMOTE_LOGGING: 'False'
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'true'
    AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: 'true'
    AIRFLOW_CONFIG: '/opt/airflow/config/airflow.cfg'
    AIRFLOW__WEBSERVER__SECRET_KEY: "fraudflow-secret-key-123"

  volumes:
    - ${AIRFLOW_PROJ_DIR:-.}/dags:/opt/airflow/dags
    - ${AIRFLOW_PROJ_DIR:-.}/logs:/opt/airflow/logs


services:
  redis:
    image: "redis:7.0-alpine"
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  postgres:
    image: "postgres:15-alpine"
    container_name: postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  airflow-init:
    <<: *airflow-common
    command:
      - bash
      - -c
      - |
          airflow db migrate &&
          airflow users create \
            --username ${_AIRFLOW_WWW_USER_USERNAME:-airflow} \
            --password ${_AIRFLOW_WWW_USER_PASSWORD:-airflow} \
            --firstname Admin \
            --lastname User \
            --role Admin \
            --email admin@example.com &&

          airflow connections add spark_default \
            --conn-type spark \
            --conn-host spark://spark-master \
            --conn-port 7077
    env_file:
      - .env


  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully
    restart: always

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    depends_on:
      airflow-webserver:
        condition: service_started
    restart: always

  airflow-worker:
    <<: *airflow-common
    user: root
    command: celery worker
    depends_on:
      airflow-scheduler:
        condition: service_started
    restart: always
    volumes:
      - ../dados:/opt/spark-data
      - ${AIRFLOW_PROJ_DIR:-.}/dags:/opt/airflow/dags

  airflow-triggerer:
    <<: *airflow-common
    command: triggerer
    depends_on:
      airflow-scheduler:
        condition: service_started
    restart: always

  flower:
    <<: *airflow-common
    command: celery flower
    profiles:
      - flower
    ports:
      - "5555:5555"
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully
    restart: always
   
  spark-master:
    image: apache/spark:3.5.1
    container_name: spark-master
    command: ["/opt/spark/sbin/start-master.sh"]
    environment:
       - SPARK_NO_DAEMONIZE=true
    ports:
      - "7077:7077"
      - "8081:8080"
    volumes:
      - ../dados:/opt/spark-data
      - spark-events:/tmp/spark-events
      - ${AIRFLOW_PROJ_DIR:-.}/dags:/opt/airflow/dags

  spark-worker:
    image: apache/spark:3.5.1
    container_name: spark-worker
    user: root
    depends_on:
      - spark-master
    command: ["/opt/spark/sbin/start-worker.sh", "spark://spark-master:7077"]  
    environment:
      - SPARK_NO_DAEMONIZE=true
      - SPARK_WORKER_MEMORY=2G
    ports:
      - "8082:8081"
    volumes:
      - spark-events:/tmp/spark-events
      - ../dados:/opt/spark-data
volumes:
  spark-events:
  postgres_data:



